#gh-comments {
  text-align: center;
}

#gh-comment {
  text-align: left;
  background-color:#2b2d2f;
  border:1px solid #01796f;
  font-family: "VT323";
  border-radius: 10px;
  margin:2.5em 0;
  padding:10px;
}

#gh-comment-hr {
  border-top: inset 1px white;
  background-color: #01796f;
  margin: 8px 0px;
}

#gh-comment p {
  margin:0px;
}

#gh-comment img {
  display: inline;
  vertical-align: middle;
  margin: 2px 10px 2px 2px;
}
